* {
    text-align: center;
    color: rgb(2, 180, 121);
    background-color: rgb(30, 19, 37);
    font-family: "Playwrite CU", cursive;
}
h4{
    background-color: red;
    margin:-8px;
    height: 3rem;
    color: wheat;
    padding-top: 7px;
}
.Main_Heading {
    align-content: center;
    font-size: 3rem;
}

.players {
    display: flex;
    justify-content: center;
    gap: 9rem;
    font-size: 1.5rem;
}

.image {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.image div img {
    width: 200px;
    height: 200px;
}
footer{
    font-size: 10px;
    margin-top: 5rem;
}